@import "mixins";
@import "colors";
@import "animations";

.header {
  position: relative;
  height: 98vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(/images/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 82vh, 0 100%);

  &__logo {
    position: absolute;
    top: 4rem;
    left: 4rem;
    height: 3.5rem;
  }

  &__text-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

// TODO: MOVE TO A SEPARATE FILE
.btn {
  @include default-button-style();
  &--reload-animation {
    animation: moveToBottom 0.5s ease-out 0.5s;
    animation-fill-mode: backwards;
  }
}
